body{
  font-family: 'Noto Serif JP', serif;
  background-color: black;
  color: white;
}
a{
  color: white;
  text-decoration: none;
}
img{
  max-width: 100%;
}
.description{
  text-align: center;
  padding-top: 20px;
}
.description h1{
  font-size: 30px;
}
.main-nav{
  list-style: none;
  display: flex;
}
.main-nav li{
  margin-left: 30px;
}
.page-header{
  display: flex;
  justify-content: space-between;
}
.wrapper{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%;
}
.grid{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}
.item p{
  text-align: center;
  letter-spacing: 4px;
}
.portrait{
  grid-column: 1/4;
  grid-row: 1/3;
}
.portrait img{
  height: 90%;
  width: 100%;
  object-fit: cover;
}
.wedding{
  grid-column: 1/4;
  grid-row: 7/9;
}
.wedding img{
  height: 90%;
  width: 100%;
  object-fit: cover;
}
.landscape{

  grid-column: 2/4;
  grid-row: 5/7;
}
.landscape img{
  height: 90%;
  width: 100%;
  object-fit: cover;
}
.plan{

  grid-column: 1/3;
  grid-row: 3/5;
}
.plan img{
  height: 90%;
  width: 100%;
  object-fit: cover;
}
.item:hover{
  opacity: 0.4;
  cursor: pointer;
  transition: 0.7s;
}
.merchandise img{
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.masato:hover{
  opacity: 0.4;
  cursor: pointer;
  transition: 0.7s;
}
.main-nav li:hover{
  opacity: 0.4;
  cursor: pointer;
  transition: 0.7s;
}
.contents{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.main-img{
  width: 50%;
  margin-top: 80px;
}
.introduction{
  width: 50%;
  margin-top: 80px;
}
.introduction p{
  padding: 12px 10px;
  margin-left: 10px;
}
@media(max-width: 600px){
  .item{
     grid-column: 1/4;
  }
  .contents{

    flex-direction: column;
    align-items: center;
  }
  .main-img, .introduction{
    width: 100%;
  }
}
