.container{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 200px 200px;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
}
.item{
  background: #0bd;
  color: #fff;
  padding: 10px;
}
